<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rating.user_id %>
</p>

<p>
  <strong>Place:</strong>
  <%= @rating.place_id %>
</p>

<p>
  <strong>Ease rating:</strong>
  <%= @rating.ease_rating %>
</p>

<p>
  <strong>Safety rating:</strong>
  <%= @rating.safety_rating %>
</p>

<p>
  <strong>Enjoyability rating:</strong>
  <%= @rating.enjoyability_rating %>
</p>

<p>
  <strong>Accessibility rating:</strong>
  <%= @rating.accessibility_rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @rating.comment %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
